---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import DoinProject from "@/components/DoinProject.astro";
---

<Layout title="Frontend Mentor | Minimalist Portfolio">
  <!-- THE HEADER -->
  <Header />
  <!-- THE MAIN BODY -->
  <main
    class="mx-8 mb-20 text-[#33323D] md:mb-24 md:ml-[2.44rem] md:mr-10 xl:mx-[10.31rem] xl:mb-[9.37rem]"
  >
    <section class="">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/detail/desktop/image-insure-hero.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/detail/tablet/image-insure-hero.jpg"
        />
        <img
          src="/images/detail/mobile/image-insure-hero.jpg"
          alt=""
          class="mb-8"
        />
      </picture>
    </section>
    <section class="flex flex-col xl:flex-row xl:gap-[7.81rem]">
      <section
        class="relative flex flex-col gap-6 py-6 before:absolute before:top-0 before:h-[0.0625rem] before:w-[19.4375rem] before:bg-[#33323D]/15 after:absolute after:bottom-0 after:h-[0.0625rem] after:w-[19.4375rem] after:bg-[#33323D]/15 md:py-8 md:before:w-[43.0625rem] md:after:w-[43.0625rem] xl:py-12 xl:before:w-[21.875rem] xl:after:bottom-[50.75rem] xl:after:w-[21.875rem]"
      >
        <div class="">
          <h2
            class="w-[19.4375rem] font-IbarraRealNova text-[2.5rem] font-bold leading-[2.625rem] tracking-[-0.02231rem] text-[#33323D] md:w-[17.5625rem]"
          >
            Insure
          </h2>
        </div>
        <div class="static md:absolute md:right-0 xl:static">
          <p
            class="w-[19.4375rem] font-PublicSans text-[0.9375rem] font-normal leading-[1.875rem] text-[#33323D]/80 md:w-[21.1875rem]"
          >
            This was a small project which mostly consisted of HTML and CSS. I
            built a fully-responsive landing page. The only JavaScript this
            project required was to enable the toggling of the mobile
            navigation.
          </p>
        </div>
        <div
          class="w-[19.4375rem] font-PublicSans text-sm font-bold leading-[1.875rem] text-[#5FB4A2] md:w-[21.125rem]"
        >
          <h3 class="">Interaction Design / Front End Development</h3>
          <h4 class="">HTML / CSS / JS</h4>
        </div>
        <div class="">
          <a
            href="/"
            class="flex h-12 w-[11.125rem] items-center justify-center border border-solid border-[#33323D] font-PublicSans text-xs font-normal uppercase leading-normal tracking-[0.125rem] text-[#33323D]"
            >Visit Website</a
          >
        </div>
      </section>
      <section class="mb-[4.06rem] md:mb-[5.06rem] xl:mb-16">
        <div class="mb-10 mt-12 flex flex-col gap-7 md:mt-10">
          <h2
            class="w-[19.4375rem] font-IbarraRealNova text-[2rem] font-normal leading-[2.625rem] tracking-[-0.01788rem] text-[#33323D] md:w-[21.875rem]"
          >
            Project Background
          </h2>
          <p
            class="w-[19.4375rem] font-PublicSans text-[0.9375rem] font-normal leading-[1.875rem] text-[#33323D]/80 md:w-[43rem] xl:w-[39.6875rem]"
          >
            This project was a front-end challenge from Frontend Mentor.
            It&#39;s a platform that enables you to practice building websites
            to a design and project brief. Each challenge includes mobile and
            desktop designs to show how the website should look at different
            screen sizes. Creating these projects has helped me refine my
            workflow and solve real-world coding problems. I&#39;ve learned
            something new with each project, helping me to improve and adapt my
            style.
          </p>
        </div>
        <div class="mb-10 w-[19.4375rem] md:w-[21.875rem] xl:mb-7">
          <h2
            class="font-IbarraRealNova text-[2rem] font-normal leading-[2.625rem] tracking-[-0.01788rem] text-[#33323D]"
          >
            Static Previews
          </h2>
        </div>
        <picture>
          <source
            media="(min-width:1440px )"
            srcset="/images/detail/desktop/image-insure-preview-1.jpg"
          />
          <source
            media="(min-width:768px )"
            srcset="/images/detail/tablet/image-insure-preview-1.jpg"
          />
          <img
            src="/images/detail/mobile/image-insure-preview-1.jpg"
            alt=""
            class="mb-6"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1440px )"
            srcset="/images/detail/desktop/image-insure-preview-2.jpg"
          />
          <source
            media="(min-width:768px )"
            srcset="/images/detail/tablet/image-insure-preview-2.jpg"
          />
          <img
            src="/images/detail/mobile/image-insure-preview-2.jpg"
            alt=""
            class=""
          />
        </picture>
      </section>
    </section>
    <section
      class="relative flex items-center justify-between before:absolute before:-bottom-6 before:h-[0.0625rem] before:w-[20.375rem] before:bg-[#33323D]/15 after:absolute after:-top-6 after:h-[0.0625rem] after:w-[20.375rem] after:bg-[#33323D]/15 md:before:w-[43.1875rem] md:after:-top-8 md:after:bottom-8 md:after:w-[43.1875rem] xl:before:w-[69.375rem] xl:after:w-[69.375rem]"
    >
      <div
        class="flex flex-col gap-4 md:max-2xl:flex-row md:max-2xl:items-center md:max-2xl:justify-between md:max-2xl:gap-8"
      >
        <div class="">
          <a href="/bookmark" class="">
            <img src="/images/icons/arrow-left.svg" alt="" class="" /></a
          >
        </div>
        <div class="">
          <h3
            class="font-IbarraRealNova text-[2rem] font-normal leading-[2.25rem] tracking-[-0.01788rem] text-[#33323D]"
          >
            Bookmark
          </h3>
          <h4
            class="font-PublicSans text-base font-normal leading-[1.875rem] text-[#33323D]/50"
          >
            Previous Project
          </h4>
        </div>
      </div>
      <span
        class="hidden h-[8.125rem] w-[0.0625rem] bg-[#33323D]/15
      md:flex"
      ></span>
      <div
        class="flex flex-col items-end gap-4 md:max-2xl:flex-row-reverse md:max-2xl:items-center md:max-2xl:justify-between md:max-2xl:gap-8"
      >
        <div class="">
          <a href="/fylo" class="">
            <img src="/images/icons/arrow-right.svg" alt="" class="" /></a
          >
        </div>
        <div class="flex flex-col items-end">
          <h3
            class="font-IbarraRealNova text-[2rem] font-normal leading-[2.25rem] tracking-[-0.01788rem] text-[#33323D]"
          >
            Fylo
          </h3>
          <h4
            class="font-PublicSans text-base font-normal leading-[1.875rem] text-[#33323D]/50"
          >
            Next Project
          </h4>
        </div>
      </div>
    </section>
    <DoinProject />
  </main>
  <!-- THE FOOTER -->
  <Footer />
</Layout>
