---
import "@/styles/globals.css";
---

<section
  class="mb-20 mt-16 flex flex-col items-center gap-10 text-center md:mt-20 md:text-left md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:mt-[7.19rem]"
>
  <h2
    class="w-[19.4375rem] font-IbarraRealNova text-[2.5rem] font-bold leading-[2.625rem] tracking-[-0.02231rem] text-[#33323D] md:w-[21.875rem]"
  >
    Interested in doing a project together?
  </h2>
  <span
    class="hidden h-[0.0625rem] bg-[#33323D]/15 md:flex md:w-[7.0625rem] xl:w-[33.375rem]"
  ></span>
  <a
    href="/contact"
    class="flex h-12 w-[10.125rem] items-center justify-center border border-solid border-[#33323D] font-PublicSans text-xs font-normal uppercase leading-normal tracking-[0.125rem] text-[#33323D]"
    >Contact Me</a
  >
</section>
